
@import '_globals.scss';

$colors: (
  Soft Blue: hsl(231, 69%, 60%),
  Soft Red: hsl(0, 94%, 66%), 
  Grayish Blue: hsl(229, 8%, 60%),
  Very Dark Blue: hsl(229, 31%, 21%),
  White: hsl(0,100%,100%),
  black: hsl(100,0%,0%),
);

$fallback-colors: (
  'Absolute Zero', 'Alizarin crimson',CadetBlue4, NavyBlue, Snow, black
);

@mixin background($url,$position:auto,$size:auto,$repeat:no-repeat,$fixed:fixed,$color:white){
    background: url($url) $position/$size $repeat $fixed $color; 
}
@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}
@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}

*,
::before,
::after {
  box-sizing: border-box;
}


html,
body {
  @include bg-color(map-get($colors,White),nth($fallback-colors,5));
  @include font-color(map-get($colors,Black),nth($fallback-colors,6));
  font: {
     size: $font_size-18;
     weight: $font_weight-normal;
	   family: "Rubik", sans-serif;
  }
}
.hidden{
    display:none;
}
.show{
    display:block;
}


.top-z-index{
  //needed for z-index.
  position: relative;
  z-index: 1;
  opacity:1;
}




      
    header{
      @include padding(2em);
      #desktop-button{
        display:none;
      }
      @media screen and(min-width:768px){
        @include padding(4em);
        #desktop-button{
           display:block;
        }
      }
    }
    .outer{
        .outer-grid{
            display:grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            align-items: center;
            
            @media screen and(min-width:768px){
              grid-auto-flow: row;
              grid-template-columns: repeat(4, minmax(0, 1fr));
              word-wrap: break-word;
              justify-items: center;
              align-items: start;
            }
        }
        .svg-outer{
            max-width:20%;
            max-height:20%;
         
            @media screen and(min-width:768px){
              max-width:50%;
              max-height:50%;
            }
        }
          
        @include padding(2em);
        &__first{
            .mobile{ 
              display:block;
            }
            .desktop{display:none;}
        }
        &__second{
           svg{
            width:100%;
            height:100%;
           }
          
           .grid-item{
                place-self: start;
           }
           
        }
        &__third{
            .grid-item{
                place-self: start;
            }
            img {
              aspect-ratio: 1.5 / 1;

            }
        }
        @media screen and(min-width:768px){
           @include padding(4em);
           .mobile{display:none;}
           .desktop{display:block;}
        }
    }
      
    footer{
        .attribution{
          display:block;
          width:20%;
          padding:0;
          @include margin(0 auto);

        }
        @media screen and(min-width:768px){
          position:relative;
          top: 10em;
        }
    }
    
      

