@import '_globals.scss';

$colors: (
    Dark Blue: hsl(233, 26%, 24%),
   Lime Green: hsl(136, 65%, 51%),
   Bright Cyan: hsl(192, 70%, 51%),
   Grayish Blue: hsl(233, 8%, 62%),
   Light Grayish Blue: hsl(220, 16%, 96%),
   Very Light Gray: hsl(0, 0%, 98%),
   White: hsl(0, 0%, 100%),
   Light Lime Green: hsl(136,78%,55%),
   Light Bright Cyan: hsl(192, 80%, 55%),
   Overlay: hsla(8, 24%, 2%, 0.5),
);

$fallback-colors: (
  Blue4, 'Bright Green', Cyan1, Honeydew2,Honeydew1,Gray95,Snow, 
);

@mixin background($url,$position:auto,$size:auto,$repeat:no-repeat,$fixed:fixed,$color:white){
    background: url($url) $position/$size $repeat $fixed $color; 
}
@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}
@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}

*,
::before,
::after {
  box-sizing: border-box;
}


html,
body {
  @include bg-color(map-get($colors,White),nth($fallback-colors,5));
  @include font-color(map-get($colors,Dark Blue),nth($fallback-colors,1));
  font: {
     size: $font_size-18;
     weight: $font_weight-normal;
	   family:  "Public Sans", sans-serif;
  }
}
.hidden{
    display:none;
}
.show{
    display:block;
}

.top-z-index{
  //needed for z-index.
  position: relative;
  z-index: 1;
  opacity:1;
}

    header{
      
      
      
    }
    .outer{
        @include padding(2em);
        p{
          font-weight:$font-weight-light;
          font-size:clamp( 1.1rem, 1.4rem, 3rem);
        }
        h1{
          font-size:clamp( 1.1rem, 4rem, 3rem);
        }
        h2{
          font-size:clamp( 1.1rem, 1.9rem, 3rem);
          font-weight: $font_weight-bold;
        }
        h3{
          font-size:clamp( 1.1rem, 1.6rem, 3rem);
        }
        h4{
          font-size:clamp( 1.1rem, 1.5rem, 3rem);
        }
        &__first{
            
            @media screen and(min-width:768px){
                
            }
        }
        &__second{
          
           @media screen and(min-width:1200px){
              
           }
           
        }
        &__third{
            
            @media screen and(min-width:768px){
              
            }
        }
        @media screen and(min-width:768px){
           
        }
    }
      
    footer{
        
        @media screen and(min-width:768px){
          
        }
    }
    aside{
        .attribution{
          display:block;
          width:20%;
          padding:0;
          @include margin(0 auto);
          a{
            text-decoration:none;
            @include font-color(map-get($colors,Dark Blue),nth($fallback-colors,1)); 
          }
        }
        @media screen and(min-width:768px){
          position:relative;
          top: 8em;
        }
    }
    
      